/* Forked from https://codepen.io/Pestov/pen/BLpgm */
/* This horizontal version (c) https://codepen.io/paulsmirnov/pen/dyyOLwa */
/* See also right to left at https://codepen.io/paulsmirnov/pen/WNNGVbv */
/* See also vertical + fixed wrapping at https://codepen.io/paulsmirnov/pen/LYYZeGM */

#root {
  --backgroundColor: "#000";
  --font-family: arial;
  --font-size: 0.7em;
  --max-height: 2400px;
  --edge-size: 150px;
  --node-size: 100px;
  --padding-quantum: 5px;
  --edge-color: #ccc;
  --edge-hover-color: #94a0b4;
  --node-color: #fff;
  --node-hover-color: #c8e4f8;
  --node-border-color: #ccc;
  --text-color: #333;
  --text-hover-color: #000;
  --text-outline-color-mix: rgba(0, 0, 0, 0.5);
  --button-color: rgb(185, 145, 145);
  --button-hover-color: rgb(150, 0, 0);
  --transition-time: 0.75s;
  --shadow-color: #999;

  --edge-length-before: calc(2 * var(--padding-quantum));
  --edge-style: 1px solid var(--edge-color);

  --node-outer-padding: var(--padding-quantum) 0 var(--padding-quantum)
    var(--edge-size);
  --node-border-style: 1px solid var(--node-border-color);
  --node-border-radius: var(--padding-quantum);
  --node-inner-padding: var(--padding-quantum) var(--padding-quantum);
  --node-left-item-width: calc(4 * var(--padding-quantum));
  --node-text-color: var(--text-color);
  --node-text-outline-color: var(--text-outline-color-mix);
  --node-font-size: var(--font-size);
  --node-width: var(--node-size);

  --node-hover-color: var(--node-hover-color);
  --node-hover-text-color: var(--text-hover-color);
  --node-hover-border-style: 1px solid var(--edge-hover-color);

  --edge-label-margin-x: calc(2 * var(--padding-quantum));
  --edge-label-margin-y: 2px;

  --child-button-margin: 0px 0px 0px 3px;
  --child-button-size: calc(2 * var(--padding-quantum));
  --child-button-color: var(--button-color);
  --child-button-hover-color: var(--button-hover-color);
}

$font-family: var(--font-family);

$transition: all var(--transition-time) ease;
$max-height: var(--max-height);
$padding-quantum: var(--padding-quantum);

$edge-length-before: var(--edge-length-before);
$edge-length: var(--edge-size);
$edge-style: var(--edge-style);

$edge-hover-color: var(--edge-hover-color);

$node-outer-padding: var(--node-outer-padding);
$node-border-style: var(--node-border-style);
$node-border-radius: var(--node-border-radius);
$node-inner-padding: var(--node-inner-padding);
$node-left-item-width: var(--node-left-item-width);
$node-text-color: var(--node-text-color);
$node-text-outline-color: var(--node-text-outline-color);
$node-font-size: var(--node-font-size);
$node-width: var(--node-width);

$node-color: var(--node-color);
$node-hover-color: var(--node-hover-color);
$node-hover-text-color: var(--node-hover-text-color);
$node-hover-border-style: var(--node-hover-border-style);

$edge-label-margin-x: var(--edge-label-margin-x);
$edge-label-margin-y: var(--edge-label-margin-y);

$child-button-margin: var(--child-button-margin);
$child-button-size: var(--child-button-size);
$child-button-color: var(--child-button-color);
$child-button-hover-color: var(--child-button-hover-color);

$shadow-color: var(--shadow-color);

// Body
body {
  height: auto;
}

// Scrollbar
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

//Tree
* {
  margin: 0;
  padding: 0;
}

button {
  display: block;
  margin: 5px auto;
  padding: 5px;
}

.tree {
  background-color: var(--backgroundColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-block;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 0px;
  max-width: 100%;
  padding: 10px;
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
}

.tree ul {
  display: inline-flex;
  padding-left: $edge-length-before;
  padding-right: $padding-quantum;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-height: $max-height;
  max-width: $max-height;

  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
}

.tree li {
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: $node-outer-padding;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50%;
  border-left: $edge-style;
  width: $edge-length;
  height: 50%;
}
.tree li::after {
  bottom: auto;
  top: 50%;
  border-top: $edge-style;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
  padding-left: 0;
}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
  border-bottom: $edge-style;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  border-top: $edge-style;
  width: $edge-length-before;
  height: 0;
}

// Node
.tree li .node {
  border: $node-border-style;
  text-decoration: none;
  background-color: $node-color;
  color: $node-text-color;
  font-family: $font-family;
  font-size: $node-font-size;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: $node-border-radius;
  -webkit-border-radius: $node-border-radius;
  -moz-border-radius: $node-border-radius;
  -ms-border-radius: $node-border-radius;
  -o-border-radius: $node-border-radius;
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.tree li .node:hover {
  background: $node-hover-color;
  color: $node-hover-text-color;
  border: $node-hover-border-style;
}

.tree li .node .node-content-left {
  cursor: pointer;
  width: $node-left-item-width;
  padding: $node-inner-padding;
  margin: 0;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-right: $node-border-style;
  border-radius: $node-border-radius 0px 0px $node-border-radius;
  -webkit-border-radius: $node-border-radius 0px 0px $node-border-radius;
  -moz-border-radius: $node-border-radius 0px 0px $node-border-radius;
  -ms-border-radius: $node-border-radius 0px 0px $node-border-radius;
  -o-border-radius: $node-border-radius 0px 0px $node-border-radius;
}

.tree li .node .node-content-left div {
  background-color: $node-text-outline-color;
  padding: 3px;
  // opacity: 0.5;
  border-radius: $padding-quantum;
  -webkit-border-radius: $padding-quantum;
  -moz-border-radius: $padding-quantum;
  -ms-border-radius: $padding-quantum;
  -o-border-radius: $padding-quantum;
}

.tree li .node .node-content-right {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  width: $node-width;
  padding: $node-inner-padding;
  border-radius: 0px $node-border-radius $node-border-radius 0px;
  -webkit-border-radius: 0px $node-border-radius $node-border-radius 0px;
  -moz-border-radius: 0px $node-border-radius $node-border-radius 0px;
  -ms-border-radius: 0px $node-border-radius $node-border-radius 0px;
  -o-border-radius: 0px $node-border-radius $node-border-radius 0px;
}
.tree li .node .node-content-right-item {
  padding: 0;
}

// Edge Label
.tree li .edge-content {
  margin: $edge-label-margin-y $edge-label-margin-x;
  text-decoration: none;
  color: $node-text-color;
  font-family: $font-family;
  font-size: $node-font-size;
  position: absolute;
  left: 0;
  bottom: 50%;
  width: calc($edge-length - 2 * $edge-label-margin-x);
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
}

//Child button
.child-button {
  display: inline-block;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  margin: $child-button-margin;
  border-top: $child-button-size solid transparent;
  border-bottom: $child-button-size solid transparent;
  border-left: $child-button-size solid $child-button-color;
}

.child-button:hover {
  border-left: $child-button-size solid $child-button-hover-color;
  cursor: pointer;
}

// Download Button

.download-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: auto;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -ms-transition: all 250ms;
  -o-transition: all 250ms;
}

.download-button:hover,
.download-button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.download-button:hover {
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
}

.download-button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
